<div class="view">
    <div class="reg">
        <a class='logout' href="/register">Back</a>

    <h1 class = "headline"> WE WANT TO Cancel Brexit and Stay In Fully </h1><br>
        <img src="/3.jpg" alt="">
        <h1>Log in <h1>
    <form id='form'  method="post">
        <input type="text" name="email" class="user-email" placeholder="E-mail" value={{email}}>
        <input type="password" name="password" class="user-password" placeholder="Password" value="">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <div class="error">
            {{{message}}}
        </div>
        <div class="reg">
        <button id="submit" type="submit" name="button">Log in</button>
    </div>

     </form>
 </div>

</div>
