<div class="view">
    <h1> Are you a captcha? </h1>
    <h1>captcha <h1>
<p>a computer program or system intended to distinguish human from machine input, typically as a way of thwarting spam and automated extraction of data from websites`</p>
    <img src="https://cms-assets.tutsplus.com/uploads/users/30/posts/23024/image/nocaptcha.gif" alt="signature">
    <form id='form'  method="post">
        <div class="user">
            {{first}} {{last}}
        </div>
        <p>Signature:</p>
        <input id="signature" type="hidden" name="signature" value="">
         <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="canvasContainer">
            <canvas id="canvas" width="350" height="120" ></canvas>
        </div>
        <div class="error">

        </div>
        <button id="clearCanvas" type="button" name="clearbutton">Clear Form</button>
     </form>
     <button id="submit" type="button" name="button">Submit</button>

</div>
