<div class="view">
    <p id='logout'><a href="/logout">Log out</a></p>
    <h1> Daylight Saving Time - How Is This Still A Thing? </h1><br>
    <iframe width="760" height="400" src="https://www.youtube.com/embed/br0NW9ufUUw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <form id='form'  method="post">
        <h1 class="user">
            {{first}} {{last}}
        </h1>
        <p>Signature:</p>
        <input id="signature" type="hidden" name="signature" value="">
         <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="canvasContainer">
            <canvas id="canvas" width="700" height="300" ></canvas>
        </div>
        <div class="error">

        </div>
        <button id="clearCanvas" type="button" name="clearbutton">Clean</button>
     </form>
     <button id="submit" type="button" name="button">Submit</button>

</div>
