<div class="view">
    <div class="reg">

    <h1> WE WANT TO Cancel Brexit and Stay In Fully</h1><br>
    <img src="/2.jpg" alt="">
    <h1>Please fill additional info about yourself <h1>
    <form id='form'  method="post">
        <input type="number" name="age" class="user-age" placeholder="age" value="">
        <input type="text" name="city" class="user-city" placeholder="city" value="">
        <input type="text" name="url" class="user-url" placeholder="private website" value="">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="error">
        </div>
        <div class="reg">
        <button id="submit" type="submit" name="button">Continue</button>
    </div>

     </form>
 </div>

</div>
