<div class="view">
    <h1> Daylight Saving Time - How Is This Still A Thing? </h1><br>
    <img src="https://www.roadsidedentalmarketing.com/wp-content/uploads/daylight-savings-what-to-do-in-an-hour.png" alt="">
    <h1>Now Please tell us some info about yourself so we could sell it to 3rd party  <h1>
    <form id='form'  method="post">
        <input type="number" name="age" class="user-age" placeholder="age" value="">
        <input type="text" name="city" class="user-city" placeholder="city" value="">
        <input type="text" name="url" class="user-url" placeholder="private website" value="">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <div class="error">
        </div>
        <button id="submit" type="submit" name="button">continue</button>
     </form>

</div>
