<div class="view">
    <h1> Daylight Saving Time - How Is This Still A Thing? </h1><br>
    <div class="photo">
<img src="https://www.roadsidedentalmarketing.com/wp-content/uploads/daylight-savings-what-to-do-in-an-hour.png" alt="" onclick="myFunction()">
</div>
<iframe style="display : none" width="760" height="400" src="https://www.youtube.com/embed/br0NW9ufUUw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


<!-- <button class="showButton show">Show and hide</button> -->


<p>Why are we changing the clock twice a year?<br> the farmers? they don't give a F**k<br>
    saving energy? nope.<br><br>

    please sign up to stop this stupid nonsense clock changes twice a year<p>
    <p>Already Signed up? <a href="/login">Login</a></p>
    <form id='form'  method="post">
        <input type="text" name="first" class="user-first-name" placeholder="First Name" value="">
        <input type="text" name="last" class="user-last-name" placeholder="Last Name" value="">
        <input type="text" name="email" class="user-email" placeholder="E-mail" value="">
        <input type="text" name="password" class="user-password" placeholder="Password" value="">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <div class="error">
        </div>
        <button id="submit" type="submit" name="button">Submit</button>
     </form>

</div>
