<div class="view">
    <h1> Daylight Saving Time - How Is This Still A Thing? </h1>
    <h1>please sign up to stop this stupid nonsense clock changes twice a year<h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/br0NW9ufUUw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p>Already a captcha? <a href="/login">Login</a></p>
    <form id='form'  method="post">
        <input type="text" name="first" class="user-first-name" placeholder="First Name" value="">
        <input type="text" name="last" class="user-last-name" placeholder="Last Name" value="">
        <input type="text" name="email" class="user-email" placeholder="E-mail" value="">
        <input type="text" name="password" class="user-password" placeholder="Password" value="">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <div class="error">
        </div>
        <button id="submit" type="submit" name="button">Submit</button>
     </form>

</div>
