


<div class="view">
<ul>
    {{#supporter}}

    <li>{{first}} {{last}}</li>


    {{/supporter}}
</ul>

<p>back to see your signature <a href="/thanks">Here</a></p>

</div>

<!-- <div id="nodeList">
  <div class="line">
    <div class="small square el"></div>
  </div>
  <div class="line">
    <div class="small square el"></div>
  </div>
  <div class="line">
    <div class="small square el"></div>
  </div>
</div> -->
