<div class="view">
    <h3> THANKS! </h3>
    <h1>{{ message }}'s signature:</h1>


    <div class="pic">

        <img src="{{sig}}" alt="signature">
    </div>

    <a href="/supporters">{{ numOfSigners }}</a>
</div>
