.layout {
    border: 1px solid white;
    background-color: #33405e;
    padding: 20px;
}

.view {
    display: flex;
    border: 1px solid white;
    background-color: white;
    padding: 40px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    font-size: 20px;
    font-family: Ink Free;
}
ul {
    list-style-type: none;
    font-family: Ink Free;
}
li {
    font-size: 20px;
    font-family: Ink Free;
}
#sig {
    background-color: #33405e;
}
#canvas {
    display: block;
    background-color: #33405e;
    border: 1px solid white;
    cursor: crosshair;
    font-family: Ink Free;
    color: white;
}
h3 {
    font-size: 35px;
    font-family: Ink Free;
}
#submit {
    margin: 0px;
    font-family: Ink Free;
    background-color: #33405e;
    color: white;
}
h4 {
    color: #33405e;
    display: inline;
    font-size: 20px;
    font-family: Ink Free;
}
img {
    right: 50px;
}
iframe {
    display: hidden;
}

p {
    font-size: 25px;
    font-family: Ink Free;
    font-weight: bold;
}
h1 {
    font-family: Ink Free;
}
h2 {
    font-family: Ink Free;
    font-size: 25px;
}
input {
    font-family: Ink Free;
    display: block;
    padding: 10px;
    font-size: 25px;
    margin: 10px;
    width: 350px;
}
button {
    font-family: Ink Free;
    padding: 10px;
    font-size: 25px;
    margin: 10px;
    background-color: #33405e;
    color: white;
}
#delete {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    font-family: Ink Free;
    font-size: 20px;
    font-style: underline;
    text-decoration: underline;
    right: 10px;
}
