.layout {
    border: 1px solid white;
    background-color: rgb(51, 169, 238);
    padding: 20px;
}

.view {
    border: 1px solid white;
    background-color: white;
    padding: 40px;
    margin: 10px;
    left: 20px;
}

.partial {
    border: 1px solid white;
    background-color: white;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 45px;
}
a {
    font-size: 20px;
    font-family: Ink Free;
}
ul {
    list-style-type: none;
    font-family: Ink Free;
}
li {
    font-size: 20px;
    font-family: Ink Free;
}

#canvas {
    display: block;
    background-color: rgb(51, 169, 238);
    border: 1px solid black;
    cursor: crosshair;
    font-family: Ink Free;
}
h3 {
    font-size: 35px;
    font-family: Ink Free;
}
#submit {
    margin: 0px;
    font-family: Ink Free;
}
h4 {
    color: rgb(51, 169, 238);
    display: inline;
    font-size: 20px;
    font-family: Ink Free;
}
img {
    right: 50px;
}
p {
    font-size: 25px;
    font-family: Ink Free;
}
h1 {
    font-family: Ink Free;
}
input {
    font-family: Ink Free;
    display: block;
    padding: 10px;
    font-size: 25px;
    margin: 10px;
    width: 350px;
}
button {
    font-family: Ink Free;
    padding: 10px;
    font-size: 25px;
    margin: 10px;
}
#delete {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    font-family: Ink Free;
    font-size: 20px;
    font-style: underline;
    text-decoration: underline;
    right: 10px;
}
